
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
.container{
  margin:0 auto;
  width:1100px;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
.Modal{
  

}
.top{
  display: flex;
  align-items: center;
}










